---
BasedOnStyle: WebKit
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: All
AlignAfterOpenBracket: Align
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: None
ColumnLimit: 100
IndentWidth: 4
IndentPPDirectives: None  # AfterHash uses global IndentWidth....
PointerAlignment: Right
MaxEmptyLinesToKeep: 1
---
