---
BasedOnStyle: WebKit
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakAfterReturnType: All
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Left
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: None
ColumnLimit: 90
FixNamespaceComments: true
NamespaceIndentation: None
IndentWidth: 4
IndentPPDirectives: AfterHash
PointerAlignment: Right
CommentPragmas: '^ clang-format: '
SortIncludes: false
MaxEmptyLinesToKeep: 1
---
