#if defined(AARCH64)
 00000000   udf    $0x0000
 f94017a0   ldr    +0x28(%x29)[8byte] -> %x0
 a9be7bfd   stp    %x29 %x30 %sp $0xffffffffffffffe0 -> -0x20(%sp)[16byte] %sp
 e58057a1   str    %z1 -> +0xa0(%x29)[32byte]
 85865e6b   ldr    +0x06e0(%x19)[32byte] -> %z11
disassembly failed: invalid instruction: not enough bytes: 0x88
#elif defined(ARM) && !defined(thumb)
 f2436813   vtst.8 %d3 %d3 -> %d22
 b2db42c8   sbcs.lt %r11 $0x8000000c -> %r4
disassembly failed: invalid instruction: not enough bytes: 0x88
#elif defined(ARM) && defined(thumb)
 6813       ldr    (%r2)[4byte] -> %r3
 f243 42c8  movw   $0x000034c8 -> %r2
 b2db       uxtb   %r3[1byte] -> %r3
disassembly failed: invalid instruction: not enough bytes: 0x88
#elif defined(X86)
 66 90                data16 nop
# ifdef X64
 c4 e2 65 90 14 80    vpgatherdd (%rax,%ymm0,4)[4byte] %ymm3 -> %ymm2 %ymm3
# else
 c4 e2 65 90 14 80    vpgatherdd (%eax,%ymm0,4)[4byte] %ymm3 -> %ymm2 %ymm3
# endif
disassembly failed: invalid instruction: not enough bytes: 0x88
#endif
