thank you for testing the client interface
#if defined(RUNREGRESSION_XP) && defined(PROGRAM_SHEPHERDING) && defined(security) && defined(no_executable_if_rx_text) && !defined(executable_after_load)
  SEC_VIO_STOP
No such process found.
Window not found: Untitled - Notepad
#else
# if defined(DEBUG)
Process notepad.exe, running SC debug
# else
#  if defined(PROFILE)
Process notepad.exe, running SC profile
#  else
Process notepad.exe, running SC release
#  endif
# endif
Close message sent.
#endif
No such process found.
