#if defined(thread_private) || defined(enable_full_api)
options = use_unlink
Flush completion id=100
Flush completion id=200
Flush completion id=300
Flush completion id=400
#else
options =@&
Flush completion id=200
Flush completion id=400
#endif
count = 402
0 undeleted fragments
constructed BB 5-15 times
