INIT
Calling func empty...
Called func empty.
Calling func empty_1arg...
Called func empty_1arg.
Calling func inscount...
Called func inscount.
Calling func compiler_inscount...
Called func compiler_inscount.
#if defined(X86)
Calling func gcc47_inscount...
Called func gcc47_inscount.
Calling func callpic_pop...
Called func callpic_pop.
Calling func callpic_mov...
Called func callpic_mov.
Calling func nonleaf...
Called func nonleaf.
Calling func cond_br...
Called func cond_br.
Calling func tls_clobber...
Called func tls_clobber.
Calling func aflags_clobber...
actual: d701, expected: d701
passed for d701
actual: 0200, expected: 0200
passed for 0200
Called func aflags_clobber.
#endif
#if defined(AARCH64)
Calling func aflags_clobber...
Called func aflags_clobber.
#endif
Calling func bbcount...
Called func bbcount.
PASSED
