#ifdef X64
 89 41 fd             mov    %eax -> 0xfffffffd(%rcx)[4byte]
 bf 11 00 00 00       mov    $0x00000011 -> %edi
 89 41 fd             mov    dword ptr [rcx-0x03], eax
 bf 11 00 00 00       mov    edi, 0x00000011
#else
 89 41 fd             mov    %eax -> 0xfffffffd(%ecx)[4byte]
 bf 11 00 00 00       mov    $0x00000011 -> %edi
 89 41 fd             mov    dword ptr [ecx-0x03], eax
 bf 11 00 00 00       mov    edi, 0x00000011
#endif
done
