#ifdef X64
 89 41 fd             mov    %eax -> 0xfffffffd(%rcx)[4byte]
 bf 11 00 00 00       mov    $0x00000011 -> %edi
 48 cf                iret   %rsp (%rsp)[40byte] -> %rsp
 9c                   pushf  %rsp -> %rsp 0xfffffff8(%rsp)[8byte]
 9c                   pushf  %rsp -> %rsp 0xfffffff8(%rsp)[8byte]
 9d                   popf   %rsp (%rsp)[8byte] -> %rsp
 66 cf                data16 iret   %rsp (%rsp)[6byte] -> %rsp
 66 9c                data16 pushf  %rsp -> %rsp 0xfffffffe(%rsp)[2byte]
 66 9d                data16 popf   %rsp (%rsp)[2byte] -> %rsp
 89 41 fd             mov    %eax, -0x03(%rcx)
 bf 11 00 00 00       mov    $0x00000011, %edi
 48 cf                iretq
 9c                   pushfq
 9c                   pushfq
 9d                   popfq
 66 cf                data16 iretw
 66 9c                data16 pushfw
 66 9d                data16 popfw
 89 41 fd             mov    dword ptr [rcx-0x03], eax
 bf 11 00 00 00       mov    edi, 0x00000011
 48 cf                iretq
 9c                   pushfq
 9c                   pushfq
 9d                   popfq
 66 cf                iret
 66 9c                pushf
 66 9d                popf
#else
 89 41 fd             mov    %eax -> 0xfffffffd(%ecx)[4byte]
 bf 11 00 00 00       mov    $0x00000011 -> %edi
 cf                   iret   %esp (%esp)[12byte] -> %esp
 9c                   pushf  %esp -> %esp 0xfffffffc(%esp)[4byte]
 9c                   pushf  %esp -> %esp 0xfffffffc(%esp)[4byte]
 9d                   popf   %esp (%esp)[4byte] -> %esp
 60                   pusha  %esp %eax %ebx %ecx %edx %ebp %esi %edi -> %esp 0xffffffe0(%esp)[32byte]
 61                   popa   %esp (%esp)[32byte] -> %esp %eax %ebx %ecx %edx %ebp %esi %edi
 66 cf                data16 iret   %esp (%esp)[6byte] -> %esp
 66 9c                data16 pushf  %esp -> %esp 0xfffffffe(%esp)[2byte]
 66 9d                data16 popf   %esp (%esp)[2byte] -> %esp
 66 60                data16 pusha  %esp %ax %bx %cx %dx %bp %si %di -> %esp 0xfffffff0(%esp)[16byte]
 66 61                data16 popa   %esp (%esp)[16byte] -> %esp %ax %bx %cx %dx %bp %si %di
 89 41 fd             mov    %eax, -0x03(%ecx)
 bf 11 00 00 00       mov    $0x00000011, %edi
 cf                   iretd
 9c                   pushfd
 9c                   pushfd
 9d                   popfd
 60                   pushad
 61                   popad
 66 cf                data16 iretw
 66 9c                data16 pushfw
 66 9d                data16 popfw
 66 60                data16 pushaw
 66 61                data16 popaw
 89 41 fd             mov    dword ptr [ecx-0x03], eax
 bf 11 00 00 00       mov    edi, 0x00000011
 cf                   iretd
 9c                   pushfd
 9c                   pushfd
 9d                   popfd
 60                   pushad
 61                   popad
 66 cf                iret
 66 9c                pushf
 66 9d                popf
 66 60                pusha
 66 61                popa
#endif
done
