handlers for signals: 10, 12
signal blocked: 12
signal blocked: 10
Testing epoll_pwait
#if defined(X86)
signal received: 10
signal received: 12
#endif
Testing pselect
#if defined(X86)
signal received: 10
signal received: 12
#endif
Testing ppoll
#if defined(X86)
signal received: 10
signal received: 12
#endif
Testing epoll_pwait failure
Testing pselect failure
Testing ppoll failure
#if defined(X86) && defined(X64)
Testing epoll_pwait, preserve mask
signal received: 10
signal received: 12
Testing pselect, preserve mask
signal received: 10
signal received: 12
Testing ppoll, preserve mask
signal received: 10
signal received: 12
#endif
