handlers for signals: 10, 12
signal blocked: 10
Testing epoll_pwait
signal received: 12
signal received: 10
Testing pselect
signal received: 12
signal received: 10
Testing ppoll
signal received: 12
signal received: 10
Testing epoll_pwait failure
Testing pselect failure
Testing ppoll failure
#if defined(X86) && defined(X64)
Testing epoll_pwait, preserve mask
signal received: 12
signal received: 10
Testing pselect, preserve mask
signal received: 12
signal received: 10
Testing ppoll, preserve mask
signal received: 12
signal received: 10
#endif
