Collecting a trace...
Done with system calls
Done collecting trace
Testing system call trace template injection...
Done with test.
#ifdef X86
Testing system call trace template injection with repstr...
Done with test.
#endif
Trace invariant checks passed
Output format:
<--record#-> <--instr#->: <---tid---> <record details>
------------------------------------------------------------
           1           0:           1 <marker: version 7>
           2           0:           1 <marker: filetype 0x4240>
           3           0:           1 <marker: cache line size 64>
           4           0:           1 <marker: page size 4096>
           5           0:           1 <marker: timestamp 1>
           6           0:           1 <marker: trace start for system call number 39>
           7           1:           1 ifetch       1 byte\(s\) @ 0x00000000deadbe00 .*
           8           1:           1 <marker: trace end for system call number 39>
           9           1:           1 <marker: trace start for system call number 186>
          10           2:           1 ifetch       3 byte\(s\) @ 0x000000008badf000 .*
          11           2:           1 read         8 byte\(s\) @ 0x00000000decafbad by PC 0x000000008badf000
          12           2:           1 <marker: trace end for system call number 186>
          13           2:           1 <thread 1 exited>
View tool results:
              2 : total instructions
