Collecting a trace...
Done collecting trace
Testing system call trace template injection...
Done with test.
#ifdef X86
Testing system call trace template injection with repstr...
Done with test.
#endif
Trace invariant checks passed
Output format:
<--record#-> <--instr#->: <Wrkld.Tid> <record details>
------------------------------------------------------------
           1           0:       W0.T1 <marker: version 7>
#ifdef X86
           2           0:       W0.T1 <marker: filetype 0x4240>
#else
           2           0:       W0.T1 <marker: filetype 0x4208>
#endif
           3           0:       W0.T1 <marker: cache line size 64>
           4           0:       W0.T1 <marker: page size 4096>
           5           0:       W0.T1 <marker: timestamp 1>
#ifdef X86
           6           0:       W0.T1 <marker: trace start for system call number 324>
           7           1:       W0.T1 ifetch       1 byte\(s\) @ 0x00000000deadbe00 90                   nop
           8           2:       W0.T1 ifetch       2 byte\(s\) @ 0x00000000deadbe01 0f 07                sysret \(target 0xf00d\)
           9           2:       W0.T1 <marker: trace end for system call number 324>
          10           2:       W0.T1 <marker: trace start for system call number 186>
          11           3:       W0.T1 ifetch       3 byte\(s\) @ 0x000000008badf000 48 8b 12             mov    \(%rdx\), %rdx
          12           3:       W0.T1 read         8 byte\(s\) @ 0x00000000decafbad by PC 0x000000008badf000
          13           4:       W0.T1 ifetch       2 byte\(s\) @ 0x000000008badf003 0f 07                sysret \(target 0xf00d\)
          14           4:       W0.T1 <marker: trace end for system call number 186>
          15           4:       W0.T1 <marker: trace start for system call number 65535>
          16           5:       W0.T1 ifetch       2 byte\(s\) @ 0x00000000f00d8b00 0f 07                sysret \(target 0xf00d\)
          17           5:       W0.T1 <marker: trace end for system call number 65535>
#else
           6           0:       W0.T1 <marker: trace start for system call number 283>
           7           1:       W0.T1 ifetch       4 byte\(s\) @ 0x00000000deadbe00 d503201f   nop
           8           2:       W0.T1 ifetch       4 byte\(s\) @ 0x00000000deadbe04 d69f03e0   eret \(target 0xf00d\)
           9           2:       W0.T1 <marker: trace end for system call number 283>
          10           2:       W0.T1 <marker: trace start for system call number 178>
          11           3:       W0.T1 ifetch       4 byte\(s\) @ 0x000000008badf000 f9400084   ldr    \(%x4\)\[8byte\] -> %x4
          12           3:       W0.T1 read         8 byte\(s\) @ 0x00000000decafbad by PC 0x000000008badf000
          13           4:       W0.T1 ifetch       4 byte\(s\) @ 0x000000008badf004 d69f03e0   eret \(target 0xf00d\)
          14           4:       W0.T1 <marker: trace end for system call number 178>
          15           4:       W0.T1 <marker: trace start for system call number 65535>
          16           5:       W0.T1 ifetch       4 byte\(s\) @ 0x00000000f00d8b00 d69f03e0   eret \(target 0xf00d\)
          17           5:       W0.T1 <marker: trace end for system call number 65535>
#endif
          18           5:       W0.T1 <thread W0.T1 exited>
View tool results:
              5 : total instructions
