// **********************************************************
// Copyright (c) 2006-2008 VMware, Inc.  All rights reserved.
// **********************************************************/

// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions are met:
//
// * Redistributions of source code must retain the above copyright notice,
//   this list of conditions and the following disclaimer.
//
// * Redistributions in binary form must reproduce the above copyright notice,
//   this list of conditions and the following disclaimer in the documentation
//   and/or other materials provided with the distribution.
//
// * Neither the name of VMware, Inc. nor the names of its contributors may be
//   used to endorse or promote products derived from this software without
//   specific prior written permission.
//
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
// AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
// ARE DISCLAIMED. IN NO EVENT SHALL VMWARE, INC. OR CONTRIBUTORS BE LIABLE
// FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
// DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
// SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
// CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
// LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
// OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH
// DAMAGE.

// Copyright (c) 2006-2007 Determina Corp.

// resources.rc

#include "winresrc.h"  // avoiding winres.h from MFC

#ifndef BUILD_NUMBER
# define BUILD_NUMBER 0
#endif

#ifndef VERSION_COMMA_DELIMITED
# define VERSION_COMMA_DELIMITED 4,2,0
#endif

#define EXPANDSTR(x) #x
#define STRINGIFY(x) EXPANDSTR(x)

#define VERSION_DOT_STRING STRINGIFY(VERSION_COMMA_DELIMITED)
#define BUILD_NUMBER_STR STRINGIFY(BUILD_NUMBER)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_COMMA_DELIMITED,BUILD_NUMBER
 PRODUCTVERSION VERSION_COMMA_DELIMITED,BUILD_NUMBER
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x4L
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
// CHECK: make sure it is OK not to put the terminating null here
#define ASCIIZ // original contents was in the form "string \0"
            VALUE "CompanyName", "Microsoft Corporation" ASCIIZ
            VALUE "FileDescription", "Regression Test (not actually Microsoft)" ASCIIZ
            VALUE "LegalCopyright", "Copyright (C) Determina, Inc. 2003-2006" ASCIIZ
            VALUE "FileVersion", VERSION_DOT_STRING "," BUILD_NUMBER_STR ASCIIZ
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
