#if +RUNREGRESSION_XP +PROGRAM_SHEPHERDING : +-security +-no_executable_if_rx_text --executable_after_load
# SEC_VIO_STOP
No such process found.
No such process found.
Window not found: Calculator
#else
# if +DEBUG :
Process calc.exe, running SC debug
# else
#  if +PROFILE :
Process calc.exe, running SC profile
#  else
Process calc.exe, running SC release
#  endif
# endif
#if : +-no_coarse_units || : +-client || : +-low || : +-hotp_only || : +-thin_client 
No persisted caches found
#endif
#if +DEBUG :
Process calc.exe, running SC debug
Process calc.exe, running SC debug
#else
# if +PROFILE :
Process calc.exe, running SC profile
Process calc.exe, running SC profile
# else
Process calc.exe, running SC release
Process calc.exe, running SC release
# endif
#endif
Close message sent.
Close message sent.
#endif
No such process found.
