starting chain 5...
earlythreaddll.dll.dll process attach
earlythreaddll.dll.dll process attach
earlythreaddll.dll.dll process attach
earlythreaddll.dll.dll process attach
earlythreaddll.dll.dll process attach
earlythreaddll.dll.dll process attach
earlythreaddll.dll.dll process detach
process returned 0
earlythreaddll.dll.dll process detach
process returned 10
earlythreaddll.dll.dll process detach
process returned 20
earlythreaddll.dll.dll process detach
process returned 30
earlythreaddll.dll.dll process detach
process returned 40
earlythreaddll.dll.dll process detach
process returned 50
