starting chain 5...
waiting for child
subprocess 5 running.
waiting for child
subprocess 4 running.
waiting for child
subprocess 3 running.
waiting for child
subprocess 2 running.
waiting for child
subprocess 1 running.
waiting for child
subprocess 0 running.
process returned 0
process returned 10
process returned 20
process returned 30
process returned 40
process returned 50
