dlltest
foo
foo
bar
foo
calling f2
func2
func3
calling f2
func4
func3
func4
loaded win32.multisec.dll.dll
dlltest
foo
foo
bar
foo
calling f2
func2
func3
calling f2
func4
func3
func4
loaded win32.multisec2.dll.dll
func2
exe calling f2
func2
exe func3
exe func4
