about to write to every page in .data
// FIXME: nicer way to specify bitmasks? :)
// Note that 0x* matches plain 0 so we have to explicitly exclude 0x
#if : +-protect_mask(0) --protect_mask(0x) || : +-protect_mask(2) || : +-protect_mask(4) || : +-protect_mask(6) || : +-protect_mask(8)
successfully wrote to .data
#endif
about to write to every page in .fspdata
#if : --protect_mask(3) --protect_mask(7) --protect_mask(0x103) --protect_mask(0x107) --protect_mask(0x10f)
successfully wrote to .fspdata
#endif
about to write to every page in .cspdata
#if : --protect_mask(7) --protect_mask(0x107) --protect_mask(0x10f)
successfully wrote to .cspdata
#endif
about to write to every page in .nspdata
successfully wrote to .nspdata
all done
