dlltest
foo
foo
bar
foo
loaded rebased.dll.dll
#if defined(PROGRAM_SHEPHERDING) && defined(security) && defined(no_executable_if_rx_text) && !defined(executable_after_load)
# SEC_VIO_STOP
# STOP
#else
dlltest
foo
foo
bar
foo
loaded rebase~1.dll
#endif
