Bad instr about to happen
#if defined(PROGRAM_SHEPHERDING) && defined(security) && !defined(low) && !defined(client) && !defined(thin_client)
# if !defined(executable_stack)
#  if !defined(detect_mode)
#   if -+throw_exception
     SEC_VIO_EXCEPTION
#   else
#     if -+kill_thread
       SEC_VIO_THREAD
#     else
       SEC_VIO_STOP
#     endif
#   endif
#   if !defined(internal_detach_mask)
     STOP
#   endif
#  else
    SEC_VIO_CONT
#  endif
# endif
#endif
Got an illegal instruction
