starting up
#if !defined(PROGRAM_SHEPHERDING) || (defined(PROGRAM_SHEPHERDING) && defined(security) && defined(internal_detach_mask___0x1))
// nothing
#else
#  if defined(no_executable_if_flush) || defined(X)
#    if !defined(executable_heap) && !defined(executable_if_dot_data) && !defined(executable_if_image)
#      if !defined(detect_mode)
         SEC_VIO_AUTO_STOP
// FIXME: can get multiple termination messages here if multiple threads
// generate them before an os_terminate goes through!
         STOP
#      else
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
         SEC_VIO_CONT
#      endif
#    endif
#  endif
#endif
all done
