In RaiseException filter
In RaiseException handler
Inside first filter eax=badcdef0
	exception code = 0xc0000005, ExceptionFlags=0x00000000
	record=00000000, params=2
	PC 0x00401815 tried to read address 0xbadcdef0
	pc=0x00401815 eax=0xbadcdef0
#if +RUNREGRESSION_NT 
  ContextFlags=0x0001001f 
#else
  ContextFlags=0x0001003f 
#endif
  Edi=0xeecdcdcd Esi=0xffcdcdcd Ebx=0xbbcdcdcd 
  Edx=0xddcdcdcd Ecx=0xcccdcdcd 

  Eax=0xbadcdef0 
  Ebp=0x1400efc4 Eip=0x00401815 SegCs=0x0000001b 
  EFlags & 0xFFFF=0x00000202 Esp=0x1400eb48 SegSs=0x00000023 
  <floating point area>
  SegGs=0x00000000 SegFs=0x0000003b SegEs=0x00000023 SegDs=0x00000023 
Inside first handler
At statement after 1st try-except
Inside 2nd filter
Inside 3rd filter
	exception code = 0xc0000005, ExceptionFlags=0x00000000
	record=00000000, params=2
	PC 0xdeadbeef tried to read address 0xdeadbeef
	pc=0xdeadbeef eax=0x00000000
#if +RUNREGRESSION_NT 
  ContextFlags=0x0001001f 
#else
  ContextFlags=0x0001003f 
#endif
  Edi=0xeecdcdcd Esi=0xffcdcdcd Ebx=0xbbcdcdcd 
  Edx=0xdeadbeef Ecx=0xcccdcdcd 

  Eax=0x00000000
  Ebp=0x1400efc4 Eip=0xdeadbeef SegCs=0x0000001b 
  EFlags & 0xFFFF=0x00000202 Esp=0x1400eb44 SegSs=0x00000023 
  <floating point area>
  SegGs=0x00000000 SegFs=0x0000003b SegEs=0x00000023 SegDs=0x00000023 
Finally!
Expected memory access violation, ignoring it!
After exception handler
Attempting execution of badfunc
#if +PROGRAM_SHEPHERDING : +-security --detect_mode --kill_thread --throw_exception --executable_stack --low --client --thin_client || +PROGRAM_SHEPHERDING : +-security +-internal_detach_mask +-0x1
#  SEC_VIO_STOP
#  if : --internal_detach_mask
#   STOP
#  endif
#endif
#if +PROGRAM_SHEPHERDING : +-security +-detect_mode --low --client --thin_client
#  SEC_VIO_CONT
#endif
#if +PROGRAM_SHEPHERDING : +-security --detect_mode +-kill_thread --throw_exception --low --client --thin_client
#  SEC_VIO_THREAD
#  STOP
#endif
#if +PROGRAM_SHEPHERDING : +-security --detect_mode +-throw_exception --low --client --thin_client
#  SEC_VIO_EXCEPTION
DATA VIOLATION: Inside first filter eax=0
	exception code = 0xc0000005, ExceptionFlags=0x00000000
	record=00000000, params=2
	PC 0x1400ec00 tried to read address 0x1400ec00
	pc=0x1400ec00 eax=0x00000000
#if +RUNREGRESSION_NT 
  ContextFlags=0x0001001f 
#else
  ContextFlags=0x0001003f 
#endif
  Edi=0xeecdcdcd Esi=0xffcdcdcd Ebx=0xbbcdcdcd 
  Edx=0xddcdcdcd Ecx=0xcccdcdcd 
  
  Eax=0x00000000 
  Ebp=0x1400efc4 Eip=0x1400ec00 SegCs=0x0000001b 
  EFlags & 0xFFFF=0x00000202 Esp=0x1400eb54 SegSs=0x00000023 
  <floating point area>
  SegGs=0x00000000 SegFs=0x0000003b SegEs=0x00000023 SegDs=0x00000023 
DATA VIOLATION: Inside first handler
DATA: At statement after 1st try-except
#  if +PROGRAM_SHEPHERDING : +-security +-throw_exception +-throw_exception_max +1
#    if  : +-kill_thread
#      SEC_VIO_THREAD
#    else
#      SEC_VIO_STOP
#    endif
#  else
#    SEC_VIO_EXCEPTION
DATA: Finally!
DATA: Expected execution violation!
	exception code = 0xc0000005, ExceptionFlags=0x00000000
	record=00000000, params=2
	PC 0x1400ec00 tried to read address 0x1400ec00
	pc=0x1400ec00 eax=0x00000000
#if +RUNREGRESSION_NT 
  ContextFlags=0x0001001f 
#else
  ContextFlags=0x0001003f 
#endif
  Edi=0xeecdcdcd Esi=0xffcdcdcd Ebx=0xbbcdcdcd 
  Edx=0xddcdcdcd Ecx=0xcccdcdcd 
  
  Eax=0x00000000 
  Ebp=0x1400efc4 Eip=0x1400ec00 SegCs=0x0000001b 
  EFlags & 0xFFFF=0x00000202 Esp=0x1400eb54 SegSs=0x00000023 
  <floating point area>
  SegGs=0x00000000 SegFs=0x0000003b SegEs=0x00000023 SegDs=0x00000023 
DATA: After exception handler
#  endif
#  STOP
#endif
DATA: At statement after exception
DATA: At statement after 1st try-except
DATA: Inside 2nd try
DATA: Finally!
DATA: At statement after 2nd try-finally
DATA: After exception handler
