ret-SEH test starting
ret-SEH test: trylevel -1
in foo level -1
#if +PROGRAM_SHEPHERDING : +-security +-no_seh_rct --C
# if : --detect_mode
#  SEC_VIO_AUTO_STOP
#  if : --internal_detach_mask 
#   STOP
#  endif
# else
#  SEC_VIO_CONT
# endif
#endif
ret-SEH test: trylevel 0
in foo level 0
// if internal_detach_mask we won't do any more DR stuff
#if +PROGRAM_SHEPHERDING : +-security +-no_seh_rct --C --internal_detach_mask
# if : --detect_mode
#  SEC_VIO_AUTO_STOP
#  if : --internal_detach_mask 
#   STOP
#  endif
# else
#  SEC_VIO_CONT
# endif
#endif
ret-SEH test: trylevel 1
in foo level 1
#if +PROGRAM_SHEPHERDING : +-security +-no_seh_rct --C --internal_detach_mask
# if : --detect_mode
#  SEC_VIO_AUTO_STOP
#  if : --internal_detach_mask 
#   STOP
#  endif
# else
#  SEC_VIO_CONT
# endif
#endif
ret-SEH test stopping
