full suite run
Executing stack shellcode...
#if +PROGRAM_SHEPHERDING : +-security --executable_stack --low --client --thin_client
# if : --detect_mode
#  SEC_VIO_AUTO_STOP
#  if : --internal_detach_mask
#   STOP
#  endif
# else
#  SEC_VIO_CONT
# endif
#endif
success!
Executing heap shellcode...
#if +PROGRAM_SHEPHERDING : +-security --executable_heap --internal_detach_mask --low --client --thin_client
# if : --detect_mode
#  SEC_VIO_AUTO_STOP
#  STOP
# else
#  SEC_VIO_CONT
# endif
#endif
success!
Executing newheap shellcode...
#if +PROGRAM_SHEPHERDING : +-security --executable_heap --internal_detach_mask --low --client --thin_client
# if : --detect_mode
#  SEC_VIO_AUTO_STOP
#  STOP
# else
#  SEC_VIO_CONT
# endif
#endif
success!
Executing crtheap shellcode...
#if +PROGRAM_SHEPHERDING : +-security --executable_heap --internal_detach_mask --low --client --thin_client
# if : --detect_mode
#  SEC_VIO_AUTO_STOP
#  STOP
# else
#  SEC_VIO_CONT
# endif
#endif
success!
Executing virtual shellcode...
#if +PROGRAM_SHEPHERDING : +-security --executable_heap --internal_detach_mask --low --client --thin_client
# if : --detect_mode
#  SEC_VIO_AUTO_STOP
#  STOP
# else
#  SEC_VIO_CONT
# endif
#endif
success!
Executing virtual_x shellcode...
success!
Executing .data shellcode...
#if +PROGRAM_SHEPHERDING : +-security --executable_heap --internal_detach_mask --low --client --thin_client
# if : --detect_mode
#  SEC_VIO_AUTO_STOP
#  STOP
# else
#  SEC_VIO_CONT
# endif
#endif
success!
