# **********************************************************
# Copyright (c) 2020-2025 Google, Inc.  All rights reserved.
# **********************************************************

# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# * Redistributions of source code must retain the above copyright notice,
#   this list of conditions and the following disclaimer.
#
# * Redistributions in binary form must reproduce the above copyright notice,
#   this list of conditions and the following disclaimer in the documentation
#   and/or other materials provided with the distribution.
#
# * Neither the name of Google, Inc. nor the names of its contributors may be
#   used to endorse or promote products derived from this software without
#   specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL VMWARE, INC. OR CONTRIBUTORS BE LIABLE
# FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
# SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
# CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
# LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
# OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH
# DAMAGE.

# Github Actions workflow for release packages.
#
# Each package build is a separate job. When adding a new package build job,
# remember to add it to the send-failure-notification job to ensure failure
# notifications are set up properly.

name: ci-package
on:
  # Our weekly cronbuild: 9pm EST on Fridays.
  schedule:
    - cron: '0 2 * * SAT'
  # Manual trigger using the Actions page.
  workflow_dispatch:
    inputs:
      version:
        description: 'Package version number (blank for cronbuild)'
        required: false
        default: ''
      build:
        description: 'Package build number'
        required: true
        default: '0'

defaults:
  run:
    shell: bash

jobs:
  ###########################################################################
  # Linux x86 tarball with 64-bit and 32-bit builds:
  linux-x86:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Fetch Sources
      run: |
        git fetch --no-tags --depth=1 origin master
        # Include Dr. Memory in packages.
        # We do shallow clones and assume DrM will update its DR at least once
        # every 250 DR commits.
        git clone --depth=2 https://github.com/DynamoRIO/drmemory.git drmemory
        cd drmemory && git submodule update --init --recursive --depth 250 && cd ..

    # Install multilib for non-cross-compiling Linux build.
    # GA CI uses packages.microsoft.com which is missing i386 packages, and
    # attempts at using apt with us.archive-ubuntu.com hit dep issues:
    # so we manually install the i386 packages we need.
    - name: Create Build Environment
      run: |
        sudo apt update
        sudo apt-get -y install doxygen vera++ zlib1g-dev libsnappy-dev \
          liblz4-dev g++-multilib libunwind-dev
        sudo add-apt-repository 'deb [arch=i386] http://us.archive.ubuntu.com/ubuntu focal main'
        apt download libunwind8:i386 libunwind-dev:i386 liblzma5:i386 \
          zlib1g:i386 zlib1g-dev:i386
        mkdir ../extract
        for i in *.deb; do dpkg-deb -x $i ../extract; done
        sudo rsync -av ../extract/usr/lib/i386-linux-gnu/ /usr/lib/i386-linux-gnu/
        sudo rsync -av ../extract/lib/i386-linux-gnu/ /usr/lib/i386-linux-gnu/
        sudo rsync -av ../extract/usr/include/i386-linux-gnu/ /usr/include/

    # Use a newer cmake to avoid 32-bit toolchain problems (i#4830).
    - name: Setup newer cmake
      uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: '3.19.7'

    - name: Get Version
      id: version
      # XXX: For now we duplicate this version number here with CMakeLists.txt.
      # We should find a way to share (xref i#1565).
      # We support setting the version and build for manual builds.
      # We only use a non-zero build # when making multiple manual builds in one day.
      run: |
        if test -z "${{ github.event.inputs.version }}"; then
          export VERSION_NUMBER=11.90.$((`git log -n 1 --format=%ct` / (60*60*24)))
        else
          export VERSION_NUMBER=${{ github.event.inputs.version }}
        fi
        if [ "${{ github.event.inputs.build }}" -ne 0 ]; then
          export VERSION_NUMBER="${VERSION_NUMBER}-${{ github.event.inputs.build }}"
        fi
        echo "::set-output name=version_number::${VERSION_NUMBER}"

    - name: Build Package
      working-directory: ${{ github.workspace }}
      run: ./suite/runsuite_wrapper.pl automated_ci
      env:
        CI_TARGET: package
        VERSION_NUMBER: ${{ steps.version.outputs.version_number }}
        # We do not update the web documentation here because a newer
        # Doxygen is needed but we have not yet tested our tests and
        # packages built on newer Ubuntu on GA CI.
        DEPLOY_DOCS: no
        DYNAMORIO_CROSS_AARCHXX_LINUX_ONLY: no
        CI_TRIGGER: ${{ github.event_name }}
        CI_BRANCH: ${{ github.ref }}

    - name: Upload Artifacts
      # This points to the latest upload-artifact v4.x.x.
      uses: actions/upload-artifact@v4
      with:
        name: linux-tarball
        path: DynamoRIO-Linux-${{ steps.version.outputs.version_number }}.tar.gz

  ###########################################################################
  # Linux AArch64 tarball:
  linux-aarch64:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Fetch Sources
      run: |
        git fetch --no-tags --depth=1 origin master
        # Include Dr. Memory in packages.
        git clone --depth=2 https://github.com/DynamoRIO/drmemory.git drmemory
        cd drmemory && git submodule update --init --recursive --depth 250 && cd ..

    # Install cross-compiler for cross-compiling Linux build.
    # Unfortunately there are no libunwind or compression cross-compile
    # packages so we unpack the native versions and copy their files.
    - name: Create Build Environment
      run: |
        sudo apt-get update
        sudo apt-get -y install doxygen vera++ cmake g++-aarch64-linux-gnu
        sudo add-apt-repository 'deb [arch=arm64] http://ports.ubuntu.com/ubuntu-ports focal main'
        apt download libunwind8:arm64 libunwind-dev:arm64 liblzma5:arm64 \
          zlib1g:arm64 zlib1g-dev:arm64 libsnappy1v5:arm64 libsnappy-dev:arm64 \
          liblz4-1:arm64 liblz4-dev:arm64
        mkdir ../extract
        for i in *.deb; do dpkg-deb -x $i ../extract; done
        for i in include lib; do sudo rsync -av ../extract/usr/${i}/aarch64-linux-gnu/ /usr/aarch64-linux-gnu/${i}/; done
        sudo rsync -av ../extract/usr/include/ /usr/aarch64-linux-gnu/include/
        sudo rsync -av ../extract/lib/aarch64-linux-gnu/ /usr/aarch64-linux-gnu/lib/

    - name: Get Version
      id: version
      # XXX: See x86 job comments on sharing the default ver# with CMakeLists.txt.
      run: |
        if test -z "${{ github.event.inputs.version }}"; then
          export VERSION_NUMBER=11.90.$((`git log -n 1 --format=%ct` / (60*60*24)))
        else
          export VERSION_NUMBER=${{ github.event.inputs.version }}
        fi
        if [ "${{ github.event.inputs.build }}" -ne 0 ]; then
          export VERSION_NUMBER="${VERSION_NUMBER}-${{ github.event.inputs.build }}"
        fi
        echo "::set-output name=version_number::${VERSION_NUMBER}"

    - name: Build Package
      working-directory: ${{ github.workspace }}
      run: ./suite/runsuite_wrapper.pl automated_ci 64_only
      env:
        CI_TARGET: package
        VERSION_NUMBER: ${{ steps.version.outputs.version_number }}
        DYNAMORIO_CROSS_AARCHXX_LINUX_ONLY: yes
        CI_TRIGGER: ${{ github.event_name }}
        CI_BRANCH: ${{ github.ref }}

    - name: Upload AArch64
      # This points to the latest upload-artifact v4.x.x.
      uses: actions/upload-artifact@v4
      with:
        name: aarch64-tarball
        path: DynamoRIO-AArch64-Linux-${{ steps.version.outputs.version_number }}.tar.gz

  ###########################################################################
  # Linux ARM tarball (package.cmake does not support same job as AArch64):
  linux-arm:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Fetch Sources
      run: |
        git fetch --no-tags --depth=1 origin master
        # Include Dr. Memory in packages.
        git clone --depth=2 https://github.com/DynamoRIO/drmemory.git drmemory
        cd drmemory && git submodule update --init --recursive --depth 250 && cd ..

    # Install cross-compiler for cross-compiling Linux build.
    # Unfortunately there are no libunwind or compression cross-compile
    # packages so we unpack the native versions and copy their files.
    - name: Create Build Environment
      run: |
        sudo apt-get update
        sudo apt-get -y install doxygen vera++ cmake g++-arm-linux-gnueabihf
        sudo add-apt-repository 'deb [arch=armhf] http://ports.ubuntu.com/ubuntu-ports focal main'
        apt download libunwind8:armhf libunwind-dev:armhf liblzma5:armhf \
          zlib1g:armhf zlib1g-dev:armhf libsnappy1v5:armhf libsnappy-dev:armhf \
          liblz4-1:armhf liblz4-dev:armhf
        mkdir ../extract
        for i in *.deb; do dpkg-deb -x $i ../extract; done
        for i in include lib; do sudo rsync -av ../extract/usr/${i}/arm-linux-gnueabihf/ /usr/arm-linux-gnueabihf/${i}/; done
        sudo rsync -av ../extract/usr/include/ /usr/arm-linux-gnueabihf/include/
        sudo rsync -av ../extract/lib/arm-linux-gnueabihf/ /usr/arm-linux-gnueabihf/lib/

    - name: Get Version
      id: version
      # XXX: See x86 job comments on sharing the default ver# with CMakeLists.txt.
      run: |
        if test -z "${{ github.event.inputs.version }}"; then
          export VERSION_NUMBER=11.90.$((`git log -n 1 --format=%ct` / (60*60*24)))
        else
          export VERSION_NUMBER=${{ github.event.inputs.version }}
        fi
        if [ "${{ github.event.inputs.build }}" -ne 0 ]; then
          export VERSION_NUMBER="${VERSION_NUMBER}-${{ github.event.inputs.build }}"
        fi
        echo "::set-output name=version_number::${VERSION_NUMBER}"

    - name: Build Package
      working-directory: ${{ github.workspace }}
      run: ./suite/runsuite_wrapper.pl automated_ci 32_only
      env:
        CI_TARGET: package
        VERSION_NUMBER: ${{ steps.version.outputs.version_number }}
        DYNAMORIO_CROSS_AARCHXX_LINUX_ONLY: yes
        CI_TRIGGER: ${{ github.event_name }}
        CI_BRANCH: ${{ github.ref }}

    - name: Upload ARM
      # This points to the latest upload-artifact v4.x.x.
      uses: actions/upload-artifact@v4
      with:
        name: arm-tarball
        path: DynamoRIO-ARM-Linux-EABIHF-${{ steps.version.outputs.version_number }}.tar.gz

  ###########################################################################
  # Android ARM tarball:
  android-arm:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Fetch Sources
      run: |
        git fetch --no-tags --depth=1 origin master
        # Include Dr. Memory in packages.
        git clone --depth=2 https://github.com/DynamoRIO/drmemory.git drmemory
        cd drmemory && git submodule update --init --recursive --depth 250 && cd ..

    # Fetch and install Android NDK for Andoid cross-compile build.
    - name: Create Build Environment
      run: |
        sudo apt-get update
        sudo apt-get -y install doxygen vera++ cmake
        cd /tmp
        wget https://dl.google.com/android/repository/android-ndk-r10e-linux-x86_64.zip
        unzip -q android-ndk-r10e-linux-x86_64.zip
        export ANDROID_NDK_ROOT=/tmp/android-ndk-r10e
        android-ndk-r10e/build/tools/make-standalone-toolchain.sh --arch=arm \
          --toolchain=arm-linux-androideabi-4.9 --platform=android-21 \
          --install-dir=/tmp/android-gcc-arm-ndk-10e
        # Manually force using ld.bfd, setting CMAKE_LINKER does not work.
        ln -sf ld.bfd /tmp/android-gcc-arm-ndk-10e/arm-linux-androideabi/bin/ld
        ln -sf arm-linux-androideabi-ld.bfd \
          /tmp/android-gcc-arm-ndk-10e/bin/arm-linux-androideabi-ld

    - name: Get Version
      id: version
      # XXX: See x86 job comments on sharing the default ver# with CMakeLists.txt.
      run: |
        if test -z "${{ github.event.inputs.version }}"; then
          export VERSION_NUMBER=11.90.$((`git log -n 1 --format=%ct` / (60*60*24)))
        else
          export VERSION_NUMBER=${{ github.event.inputs.version }}
        fi
        if [ "${{ github.event.inputs.build }}" -ne 0 ]; then
          export VERSION_NUMBER="${VERSION_NUMBER}-${{ github.event.inputs.build }}"
        fi
        echo "::set-output name=version_number::${VERSION_NUMBER}"

    - name: Build Package
      working-directory: ${{ github.workspace }}
      run: ./suite/runsuite_wrapper.pl automated_ci 32_only
      env:
        CI_TARGET: package
        VERSION_NUMBER: ${{ steps.version.outputs.version_number }}
        DYNAMORIO_CROSS_AARCHXX_LINUX_ONLY: no
        DYNAMORIO_CROSS_ANDROID_ONLY: yes
        DYNAMORIO_ANDROID_TOOLCHAIN: /tmp/android-gcc-arm-ndk-10e
        CI_TRIGGER: ${{ github.event_name }}
        CI_BRANCH: ${{ github.ref }}

    - name: Upload Artifacts
      # This points to the latest upload-artifact v4.x.x.
      uses: actions/upload-artifact@v4
      with:
        name: android-tarball
        path: DynamoRIO-ARM-Android-EABI-${{ steps.version.outputs.version_number }}.tar.gz
